.center {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.multi-choice {
    display: flex;
    padding-left: 35px;
    flex-direction: column;
}

.progress-bar {
    padding-top: -10px;
}

